.login form {
  border: 3px solid #f1f1f1;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login form button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login form button:hover {
  opacity: 0.8;
}
.google {
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(7, 7, 7);
  border: 2px solid #f1f1f1;
  border-radius: 0;
}
.container {
  padding: 16px;
}
.login {
  max-width: 360px;
  margin: 3rem auto;
}
.alert {
  max-width: 360px;
  margin: 0 auto;
}
span.psw {
  float: right;
}
span.psw a {
  text-decoration: none;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
